.bday-wrapper {
  height: 100vh;
  border: 3px solid red;
  position: relative;
  background-image: url("img/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bday {
  width: 80%;
  height: min-content;
  position: absolute;
  left: 10%;
  bottom: 10%;
}

.mask {
  position: absolute;
  top: -15px;
  bottom: -15px;
  left: -15px;
  right: -15px;
  background-color: rgba(240, 255, 255, 0.7);
  z-index: 1;
  border-radius: 5%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mask:hover {
  box-shadow: 10px 10px 10px #333;
}

.page {
  text-align: center;
  /* font-weight: bold; */
  padding: 20px;
  z-index: 2;
  transition: all 0.3s ease;
  cursor: pointer;
}

.page:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px 10px #333;
}

.pi-img {
  width: 150px;
  margin-top: 80px;
}

.card-visuals {
  background-image: url("img/pi-bg.jpg");
  /* background-repeat: no-repeat; */
  background-size: contain;
  border-radius: 5%;
}
.card-texts {
  border: 2px solid black;
  border-radius: 5%;
  user-select: none;
  margin: 30px;
  background-color: antiquewhite;
}

.msgs {
  margin-bottom: 50px;
}

.from {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 24px;
}
